@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:inherit;
}

html{
    box-sizing:border-box;
    font-size:62.5%;
}

body{
    background:#fafafa;
    font-family: 'Roboto', sans-serif;
}

.header{
    min-height:5rem; 
    background:#333;
}

.logo{
    font-size:4rem;
    color:#fff;
    text-align:center;
    font-family: 'Staatliches', cursive;
}

.nav{
    min-height:5rem;
    padding:1rem;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#ff6a00;
}

.nav-cat{
    display:flex;
    align-items:center;
    margin:0 1rem;
    transition:all .2s;
    cursor:pointer;
    text-decoration:none;
    color:#fff;

    &__title{
        font-size:2rem;
    }

    &:hover{
        color:#fff;
        fill:#fff;
    }
}

.topics-pane{
    height:0;
    overflow:hidden;
    background:#333;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    transition: .3s all;

    &__link{
        display:block;
        font-size:2rem;
        margin:1rem;
        transition:all .2s;
        text-decoration:none;
        color:#ff6a00;

        &:hover{
            color:#fff;
        }
    }

    &.show{
        height:10rem;
        padding:1rem;
    }
}

svg, .icon{
    width:3rem;
    height:3rem;
    fill:#eee;
}

.newPostForm{
    margin:2rem auto;
    max-width:75rem;
}

.form-group{
    margin:1rem 0;
}

.label{
    display:block;
    font-size:1.2rem;
    margin-bottom:3px;
}

.text-input{
    border:1px solid #ccc;
    border-radius:.5rem;
    font-size:1.8rem;
    font-family:inherit;
    color:#333;
    padding:.4rem .8rem;
    display:block;
    width:100%;
    outline:none;

    &:focus{
        border:1px solid #ade2ff;
    }
}

.textarea{
    height:20rem;
}

select{
    cursor:pointer;
}

.btn{
    font-size:1.6rem;
    border:0;
    padding:1rem;
    border-radius:.5rem;
    cursor:pointer;

    &--green{
        background:#5dcf70;
        color:#fff;
    }
}

.poll-form{
    box-shadow:0 0 .5rem rgba(0,0,0,.24);
    padding:1rem;
    display:none;
    transition:.2s all;
    background:#fff;

    &.show{
        display:block;
    }
}

.poll-option{
    &--3{
        display:none;

        &.show{
            display:block;
        }
    }
    &--4{
        display:none;

        &.show{
            display:block;
        }
    }
    &--5{
        display:none;

        &.show{
            display:block;
        }
    }
    &--6{
        display:none;

        &.show{
            display:block;
        }
    }
}

.add-image-btn{
    position:relative;

    &__input{
        position:absolute;
        top:0;
        left:0; 
        visibility:hidden;
    }

    &__select{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        border:1px solid #ccc;
        z-index:1;
        padding:1rem; 
        background:#fff;
        font-size:2rem;
        cursor:pointer;
        display:flex;
        justify-content:space-between;
        align-items:center;
        border-radius:.5rem;
    }

}

.img-preview {
    width:5rem;
}
