@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:inherit;
}

html{
    box-sizing:border-box;
    font-size:62.5%;
}

body{
    background:#fafafa;
    font-family: 'Roboto', sans-serif;
}

.header{
    min-height:7rem;
    background:#000;
}

.logo{
    font-size:5rem;
    color:#fff;
    text-align:center;
    font-family: 'Staatliches', cursive;
}

.nav{
    min-height:5rem;
    background:linear-gradient(to bottom right, #417aa3, #69a5d1);
    padding:1rem;
    display:flex;
    align-items:center;
    justify-content:center;
}

.nav-cat{
    display:flex;
    align-items:center;
    margin:0 1rem;
    transition:all .2s;
    cursor:pointer;
    text-decoration:none;
    color:#000;

    &__title{
        font-size:2rem;
    }

    &:hover{
        color:#fff;
        fill:#fff;
    }
}

.topics-pane{
    height:0;
    overflow:hidden;
    background:#ddd;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    transition: .3s all;

    &__link{
        display:block;
        font-size:2rem;
        margin:1rem;
        transition:all .2s;
        text-decoration:none;

        &:hover{
            color:#417aa3;
        }
    }

    &.show{
        height:10rem;
        padding:1rem;
    }
}

svg, .icon{
    width:3rem;
    height:3rem;
}

.newPostForm{
    margin:2rem auto;
    max-width:75rem;
}

.form-group{
    margin:1rem 0;
}

.label{
    display:block;
    font-size:1.2rem;
    margin-bottom:3px;
}

.text-input{
    border:2px solid #ccc;
    border-radius:.5rem;
    font-size:1.8rem;
    font-family:inherit;
    color:#333;
    padding:.4rem .8rem;
    display:block;
    width:100%;
    outline:none;

    &:focus{
        border:2px solid #ade2ff;
    }
}

.textarea{
    height:20rem;
}

select{
    cursor:pointer;
}

.btn{
    font-size:1.6rem;
    border:0;
    padding:1rem;
    border-radius:.5rem;
    cursor:pointer;

    &--green{
        background:#5dcf70;
        color:#fff;
    }
}

.poll-form{
    background:#fff;
    border:2px solid #ccc;
    padding:1rem;
    border-radius:.5rem;
    display:none;
    transition:.2s all;

    &.show{
        display:block;
    }
}

.poll-option{
    &--3{
        display:none;

        &.show{
            display:block;
        }
    }
    &--4{
        display:none;

        &.show{
            display:block;
        }
    }
    &--5{
        display:none;

        &.show{
            display:block;
        }
    }
    &--6{
        display:none;

        &.show{
            display:block;
        }
    }
}
