<!DOCTYPE html>
<html lang="en-US">
    <%- include('./partials/head.ejs') %>
    <body>
        <header class="header">
            <h1 class="logo">LifeTalk.</h1>
        </header>
        <nav class="nav">
            <div class="nav-cat">
                <svg class="icon icon-list_alt"><use xlink:href="/icons/symbol-defs.svg#icon-list_alt"></use></svg><span class="nav-cat__title"> Topics </span>
            </div>
            <div class="nav-cat">
                <svg class="icon icon-drive_file_rename_outline"><use xlink:href="/icons/symbol-defs.svg#icon-drive_file_rename_outline"></use></svg><span class="nav-cat__title"> Post </span>
            </div>
        </nav>
        <div class="topics-pane">
            <a class="topics-pane__link">Friends + Family</a>
            <a class="topics-pane__link">Dating + Flirting</a>
            <a class="topics-pane__link">Relationships</a>
            <a class="topics-pane__link">Health + Fitness</a>
            <a class="topics-pane__link">Education + Career</a>
            <a class="topics-pane__link">Engagements + Weddings</a>
            <a class="topics-pane__link">Technology</a>
            <a class="topics-pane__link">Lifestyle</a>
            <a class="topics-pane__link">Activities</a>
        </div>
    </body>
</html>