<!DOCTYPE html>
<html lang="en-US">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/headerNavs.ejs') %>
        <script>
            const topicsLink = document.querySelector('.topics-link');
            const topicsPane = document.querySelector('.topics-pane');

            topicsLink.addEventListener('click', () => {
                topicsPane.classList.toggle('show');
            });
        </script>
    </body>
</html>